<h1>My favorite series & their quotes:</h1>

<div>
<ul>
  <% @articles.each do |article| %>
    <li>
       <a href="/articles/<%= article.id %>">
        <%= article.title %>
       </a>
    </li>
  <% end %>
</ul>
</div>
