<h1>My favorite series & their quotes:</h1>

<div>
<ul>
  <% @articles.each do |article| %>
    <li>
       <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
</div>

<p><%= link_to "New quote.", new_article_path %> Add new qoutes if you'd like!</p>